body {
    margin: 0px !important;
    padding: 0px !important; 
    font-family: 'Poppins', serif !important;
    background: #FAF7F3 !important;
  
}

nav {
    background: #FAF7F3;
    height: auto;
}


.navbar-brand:hover{
    background: #FAF7F3;
    border-radius: 10px;
}

.nav-link{
    font-weight: bold !important; 
    font-size: 14 !important;
    color: #FAF7F3 !important;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #22244dd3;
}
#lyf img{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
#esq img{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
#flor img{
    margin-left: 0% !important;
    margin-right: 0% !important;
}


.titulo1{
    font-weight: bold !important; 
    font-size: 24 !important;
    color: #e0b4da !important; 
}

.titulo2{
    font-size: 22 !important; 
    font-weight: 600 !important;
    color: #1E2E66 !important;
}

.texto1{
    font-weight: bold !important; 
    font-size: 200% !important;
    color: #1E2E66 !important; 
}

.texto2{
    font-weight: 600 !important; 
    font-size: 110% !important;
    letter-spacing: 1px;
    color: #1E2E66 !important;
    text-align: center !important;
}

.texto3{
    font-size: 18 !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    text-align: center !important;
    
}
.texto7{
    font-size: 18 !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    text-align: center !important;
    color: #1E2E66 !important;
    
}

.texto4{
    font-size: 14 !important;
    color: #1E2E66 !important; 
    
}

.carta{
    background: rgba(235, 204, 194, 0.45)!important;
    color: #1f2d5d !important; 
  
}

.boton{
    background: #DDC8C5 !important;
}

.boton:hover{
    background: #b59393 !important;
}

footer{
    background: #172146;
}

.cartaservicio{
    background-color: #495FA6 !important;
}

@media screen and (min-width: 768px) {
  #lyf img{
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
   
  }

  #esq img{
    width: 20% !important;
    height: auto;
    margin-left: 150px !important;
    margin-right: 10px !important;
  }
  #flor img{
    width: 50% !important;
    margin-left: 25% !important;
    
  }
     
}